.userGame {
  flex: 1 0 40%;
  margin: 0 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}
.game {
  width: 350px;
  height: 400px;
  /* background-color: #f4d2bc; */
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  padding: 15px 30px;
  margin-bottom: 30px;
  /* transform: scale(.8); */
}
.game_title {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 300;
  margin-bottom: 10px;
  color: #ddbea9;
}
.game_check {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 8px 20px;
  margin: 0 auto;
  padding: 15px 0;
}
.game_item {
  display: inline-block;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 1px solid #ddbea9;
  background-color: transparent;
  transition: .2s all;
  padding: 0;
}
.game_item:hover {
  transform: translateY(-3px);
}
.active {
  background-color: #ddbea9;
}
.game_box {
  display: flex;
  justify-content: space-between;
}
.game_data {
  display: inline-block;
  margin: 0;
  font-size: 14px;
}