.wrapper {
    margin-bottom: 3rem;
}

.member__wrapper {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.member__avatar {
    border-radius: 50%;
    width: 3.5rem;
    height: 3.5rem;
}

span {
    margin-left: 1rem;
}