.admin__post {
  /* margin-top: 2rem; */
  padding: 1rem;
  /* border-radius: 15px; */
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}

.admin__postTitle {
  color: var(--five);
  font-family: 'Cormorant Unicase', serif;
  height: 20px;
  font-size: 20px;
  display: flex;
  align-items: center;
  margin-bottom: 0;
  margin-left: 1rem;
  text-decoration: none;
  transition: all .2s;
}

.admin__postTitle:hover {
  color: black;

}

.admin__postText {
  /* height: 16px; */
  font-size: 16px;

}


.admin__postHeader {
  display: flex;
  align-items: center;
  align-self: flex-start;
  margin-bottom: 1rem;
}

.admin__postAvatar {
  border-radius: 50%;
  height: 4rem;
  width: 4rem;
}

.admin__postIcon {
  width: 20;
  height: 20;
  color: #6e1423;
  font-size: 24px;
}